.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.966309;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.971191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.677246;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._24{margin-left:-1.040000px;}
._14{width:5.052000px;}
._e{width:6.240000px;}
._f{width:15.680000px;}
._7{width:50.560000px;}
._1{width:53.600000px;}
._c{width:55.440000px;}
._13{width:74.600000px;}
._5{width:78.000000px;}
._11{width:85.722000px;}
._3{width:87.680000px;}
._d{width:89.280000px;}
._20{width:119.700000px;}
._12{width:165.280000px;}
._1f{width:181.800000px;}
._2{width:188.560000px;}
._b{width:215.080000px;}
._16{width:271.960000px;}
._6{width:302.800000px;}
._1a{width:304.108000px;}
._4{width:320.960000px;}
._9{width:326.440000px;}
._8{width:335.840000px;}
._a{width:380.480000px;}
._18{width:415.948000px;}
._10{width:431.424000px;}
._19{width:466.314000px;}
._17{width:517.454000px;}
._1c{width:531.792000px;}
._22{width:567.864000px;}
._15{width:582.692000px;}
._1b{width:597.888000px;}
._1e{width:629.928000px;}
._23{width:651.924000px;}
._1d{width:659.988000px;}
._21{width:667.908000px;}
._0{width:982.240000px;}
.fc2{color:rgb(255,0,0);}
.fc1{color:rgb(0,0,255);}
.fc0{color:rgb(0,0,0);}
.fs8{font-size:24.000000px;}
.fs7{font-size:26.000000px;}
.fs1{font-size:32.000000px;}
.fs5{font-size:36.000000px;}
.fs4{font-size:38.000000px;}
.fs2{font-size:40.000000px;}
.fs6{font-size:44.000000px;}
.fs3{font-size:48.000000px;}
.fs0{font-size:64.000000px;}
.y32{bottom:3.195999px;}
.y21{bottom:3.330999px;}
.y2f{bottom:3.542999px;}
.y2b{bottom:8.644000px;}
.y2c{bottom:10.851999px;}
.y34{bottom:15.544000px;}
.y20{bottom:15.979999px;}
.y2e{bottom:17.342000px;}
.y29{bottom:17.342003px;}
.y1e{bottom:27.690999px;}
.y1f{bottom:28.628999px;}
.y28{bottom:31.140999px;}
.y27{bottom:44.940002px;}
.y26{bottom:58.738998px;}
.y2d{bottom:60.698006px;}
.y0{bottom:61.000000px;}
.y25{bottom:72.537998px;}
.y5d{bottom:73.962003px;}
.y5c{bottom:86.115994px;}
.y24{bottom:86.336999px;}
.y2a{bottom:88.796000px;}
.y87{bottom:97.400990px;}
.y5b{bottom:98.269986px;}
.y23{bottom:100.135999px;}
.y22{bottom:108.196007px;}
.y5a{bottom:110.423978px;}
.y86{bottom:112.554006px;}
.y59{bottom:122.577992px;}
.y58{bottom:134.731008px;}
.y57{bottom:146.884023px;}
.y85{bottom:182.709984px;}
.y56{bottom:185.432000px;}
.y84{bottom:193.058987px;}
.y55{bottom:199.231011px;}
.y83{bottom:203.407986px;}
.y54{bottom:213.030023px;}
.y81{bottom:213.756986px;}
.y82{bottom:216.483986px;}
.y1d{bottom:219.088005px;}
.y80{bottom:224.106010px;}
.y53{bottom:226.829003px;}
.y7f{bottom:234.455009px;}
.y52{bottom:240.628015px;}
.y7e{bottom:244.804008px;}
.y51{bottom:254.426995px;}
.y7d{bottom:255.153011px;}
.y7c{bottom:265.502010px;}
.y50{bottom:268.226006px;}
.y1c{bottom:274.853999px;}
.y7b{bottom:275.851010px;}
.y4f{bottom:282.024987px;}
.y1b{bottom:305.102006px;}
.y30{bottom:307.000000px;}
.y4e{bottom:309.623010px;}
.y1a{bottom:317.255998px;}
.y4d{bottom:322.978993px;}
.y19{bottom:332.330012px;}
.y4c{bottom:335.410997px;}
.y7a{bottom:341.588986px;}
.y4b{bottom:348.059998px;}
.y79{bottom:353.743009px;}
.y18{bottom:358.646989px;}
.y4a{bottom:360.709015px;}
.y78{bottom:365.897000px;}
.y17{bottom:370.801011px;}
.y49{bottom:373.358002px;}
.y77{bottom:378.050992px;}
.y16{bottom:382.955003px;}
.y48{bottom:386.006989px;}
.y76{bottom:390.205007px;}
.y15{bottom:398.028987px;}
.y47{bottom:398.656006px;}
.y75{bottom:402.357991px;}
.y46{bottom:411.305010px;}
.y74{bottom:414.511006px;}
.y45{bottom:423.954010px;}
.y14{bottom:428.696986px;}
.y44{bottom:436.324002px;}
.y73{bottom:438.817014px;}
.y13{bottom:442.861000px;}
.y43{bottom:448.477994px;}
.y72{bottom:450.971005px;}
.y12{bottom:455.014000px;}
.y42{bottom:460.631986px;}
.y71{bottom:463.124997px;}
.y11{bottom:467.167001px;}
.y41{bottom:472.786008px;}
.y70{bottom:475.278989px;}
.y10{bottom:481.239985px;}
.y40{bottom:484.940000px;}
.y6f{bottom:487.433003px;}
.y3f{bottom:497.094007px;}
.yf{bottom:498.404000px;}
.y6e{bottom:499.586003px;}
.y3e{bottom:509.247998px;}
.y6d{bottom:511.739003px;}
.ye{bottom:513.557000px;}
.yd{bottom:528.710000px;}
.y3d{bottom:533.554997px;}
.y6c{bottom:537.691007px;}
.yc{bottom:543.863008px;}
.y3c{bottom:545.707997px;}
.y6b{bottom:549.844998px;}
.y3b{bottom:557.860997px;}
.yb{bottom:559.016999px;}
.y6a{bottom:561.999005px;}
.y3a{bottom:572.933997px;}
.y69{bottom:574.152997px;}
.ya{bottom:574.171006px;}
.y68{bottom:586.307004px;}
.y9{bottom:589.324998px;}
.y67{bottom:598.461003px;}
.y8{bottom:604.479005px;}
.y66{bottom:610.614003px;}
.y7{bottom:619.632997px;}
.y65{bottom:622.767003px;}
.y6{bottom:634.787004px;}
.y39{bottom:640.591001px;}
.y64{bottom:647.073003px;}
.y5{bottom:649.941003px;}
.y38{bottom:652.763997px;}
.y63{bottom:659.227002px;}
.y37{bottom:664.937001px;}
.y4{bottom:665.095002px;}
.y62{bottom:671.381001px;}
.y36{bottom:677.110002px;}
.y3{bottom:683.169002px;}
.y61{bottom:683.535001px;}
.y35{bottom:691.184001px;}
.y60{bottom:695.689000px;}
.y5f{bottom:707.842000px;}
.y2{bottom:709.066001px;}
.y33{bottom:714.901001px;}
.y5e{bottom:719.995000px;}
.y1{bottom:739.914000px;}
.y31{bottom:741.551002px;}
.h10{height:14.998999px;}
.h16{height:17.484375px;}
.hc{height:20.900000px;}
.h15{height:26.226562px;}
.hd{height:27.527344px;}
.h11{height:27.799999px;}
.h6{height:28.871094px;}
.h12{height:29.140625px;}
.he{height:29.598000px;}
.h13{height:30.390625px;}
.h14{height:30.550781px;}
.h3{height:30.585938px;}
.h9{height:32.054688px;}
.h5{height:33.328125px;}
.h8{height:34.945312px;}
.hb{height:34.968750px;}
.h4{height:36.468750px;}
.h7{height:39.946999px;}
.h2{height:48.625000px;}
.ha{height:112.391998px;}
.hf{height:435.000000px;}
.h1{height:618.500000px;}
.h0{height:792.000000px;}
.w4{width:0.800000px;}
.w2{width:96.050003px;}
.w3{width:353.700012px;}
.w1{width:524.500000px;}
.w0{width:612.000000px;}
.x8{left:0.400000px;}
.x5{left:6.150000px;}
.x0{left:43.500000px;}
.x2{left:45.349998px;}
.x3{left:63.349998px;}
.x4{left:81.349998px;}
.x6{left:139.150002px;}
.x1{left:225.349998px;}
.x9{left:271.361000px;}
.xa{left:276.364998px;}
.x7{left:566.250024px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._24{margin-left:-1.386667pt;}
._14{width:6.736000pt;}
._e{width:8.320000pt;}
._f{width:20.906667pt;}
._7{width:67.413333pt;}
._1{width:71.466667pt;}
._c{width:73.920000pt;}
._13{width:99.466667pt;}
._5{width:104.000000pt;}
._11{width:114.296000pt;}
._3{width:116.906667pt;}
._d{width:119.040000pt;}
._20{width:159.600000pt;}
._12{width:220.373333pt;}
._1f{width:242.400000pt;}
._2{width:251.413333pt;}
._b{width:286.773333pt;}
._16{width:362.613333pt;}
._6{width:403.733333pt;}
._1a{width:405.477333pt;}
._4{width:427.946667pt;}
._9{width:435.253333pt;}
._8{width:447.786667pt;}
._a{width:507.306667pt;}
._18{width:554.597333pt;}
._10{width:575.232000pt;}
._19{width:621.752000pt;}
._17{width:689.938667pt;}
._1c{width:709.056000pt;}
._22{width:757.152000pt;}
._15{width:776.922667pt;}
._1b{width:797.184000pt;}
._1e{width:839.904000pt;}
._23{width:869.232000pt;}
._1d{width:879.984000pt;}
._21{width:890.544000pt;}
._0{width:1309.653333pt;}
.fs8{font-size:32.000000pt;}
.fs7{font-size:34.666667pt;}
.fs1{font-size:42.666667pt;}
.fs5{font-size:48.000000pt;}
.fs4{font-size:50.666667pt;}
.fs2{font-size:53.333333pt;}
.fs6{font-size:58.666667pt;}
.fs3{font-size:64.000000pt;}
.fs0{font-size:85.333333pt;}
.y32{bottom:4.261332pt;}
.y21{bottom:4.441333pt;}
.y2f{bottom:4.723999pt;}
.y2b{bottom:11.525333pt;}
.y2c{bottom:14.469332pt;}
.y34{bottom:20.725333pt;}
.y20{bottom:21.306665pt;}
.y2e{bottom:23.122667pt;}
.y29{bottom:23.122670pt;}
.y1e{bottom:36.921332pt;}
.y1f{bottom:38.171998pt;}
.y28{bottom:41.521332pt;}
.y27{bottom:59.920003pt;}
.y26{bottom:78.318665pt;}
.y2d{bottom:80.930674pt;}
.y0{bottom:81.333333pt;}
.y25{bottom:96.717331pt;}
.y5d{bottom:98.616004pt;}
.y5c{bottom:114.821326pt;}
.y24{bottom:115.115999pt;}
.y2a{bottom:118.394666pt;}
.y87{bottom:129.867987pt;}
.y5b{bottom:131.026648pt;}
.y23{bottom:133.514665pt;}
.y22{bottom:144.261342pt;}
.y5a{bottom:147.231970pt;}
.y86{bottom:150.072007pt;}
.y59{bottom:163.437323pt;}
.y58{bottom:179.641343pt;}
.y57{bottom:195.845364pt;}
.y85{bottom:243.613312pt;}
.y56{bottom:247.242667pt;}
.y84{bottom:257.411982pt;}
.y55{bottom:265.641349pt;}
.y83{bottom:271.210648pt;}
.y54{bottom:284.040030pt;}
.y81{bottom:285.009314pt;}
.y82{bottom:288.645315pt;}
.y1d{bottom:292.117340pt;}
.y80{bottom:298.808014pt;}
.y53{bottom:302.438671pt;}
.y7f{bottom:312.606679pt;}
.y52{bottom:320.837353pt;}
.y7e{bottom:326.405345pt;}
.y51{bottom:339.235994pt;}
.y7d{bottom:340.204015pt;}
.y7c{bottom:354.002680pt;}
.y50{bottom:357.634675pt;}
.y1c{bottom:366.471999pt;}
.y7b{bottom:367.801347pt;}
.y4f{bottom:376.033316pt;}
.y1b{bottom:406.802675pt;}
.y30{bottom:409.333333pt;}
.y4e{bottom:412.830680pt;}
.y1a{bottom:423.007997pt;}
.y4d{bottom:430.638658pt;}
.y19{bottom:443.106683pt;}
.y4c{bottom:447.214663pt;}
.y7a{bottom:455.451982pt;}
.y4b{bottom:464.079997pt;}
.y79{bottom:471.657345pt;}
.y18{bottom:478.195985pt;}
.y4a{bottom:480.945353pt;}
.y78{bottom:487.862667pt;}
.y17{bottom:494.401348pt;}
.y49{bottom:497.810669pt;}
.y77{bottom:504.067989pt;}
.y16{bottom:510.606670pt;}
.y48{bottom:514.675985pt;}
.y76{bottom:520.273342pt;}
.y15{bottom:530.705316pt;}
.y47{bottom:531.541341pt;}
.y75{bottom:536.477322pt;}
.y46{bottom:548.406680pt;}
.y74{bottom:552.681342pt;}
.y45{bottom:565.272013pt;}
.y14{bottom:571.595982pt;}
.y44{bottom:581.765336pt;}
.y73{bottom:585.089352pt;}
.y13{bottom:590.481333pt;}
.y43{bottom:597.970659pt;}
.y72{bottom:601.294674pt;}
.y12{bottom:606.685333pt;}
.y42{bottom:614.175981pt;}
.y71{bottom:617.499996pt;}
.y11{bottom:622.889334pt;}
.y41{bottom:630.381344pt;}
.y70{bottom:633.705318pt;}
.y10{bottom:641.653314pt;}
.y40{bottom:646.586666pt;}
.y6f{bottom:649.910671pt;}
.y3f{bottom:662.792009pt;}
.yf{bottom:664.538667pt;}
.y6e{bottom:666.114671pt;}
.y3e{bottom:678.997331pt;}
.y6d{bottom:682.318671pt;}
.ye{bottom:684.742667pt;}
.yd{bottom:704.946667pt;}
.y3d{bottom:711.406663pt;}
.y6c{bottom:716.921342pt;}
.yc{bottom:725.150677pt;}
.y3c{bottom:727.610663pt;}
.y6b{bottom:733.126664pt;}
.y3b{bottom:743.814663pt;}
.yb{bottom:745.355999pt;}
.y6a{bottom:749.332007pt;}
.y3a{bottom:763.911996pt;}
.y69{bottom:765.537329pt;}
.ya{bottom:765.561342pt;}
.y68{bottom:781.742672pt;}
.y9{bottom:785.766664pt;}
.y67{bottom:797.948004pt;}
.y8{bottom:805.972006pt;}
.y66{bottom:814.152004pt;}
.y7{bottom:826.177329pt;}
.y65{bottom:830.356004pt;}
.y6{bottom:846.382671pt;}
.y39{bottom:854.121334pt;}
.y64{bottom:862.764004pt;}
.y5{bottom:866.588004pt;}
.y38{bottom:870.351996pt;}
.y63{bottom:878.969336pt;}
.y37{bottom:886.582668pt;}
.y4{bottom:886.793336pt;}
.y62{bottom:895.174669pt;}
.y36{bottom:902.813335pt;}
.y3{bottom:910.892002pt;}
.y61{bottom:911.380001pt;}
.y35{bottom:921.578668pt;}
.y60{bottom:927.585334pt;}
.y5f{bottom:943.789333pt;}
.y2{bottom:945.421335pt;}
.y33{bottom:953.201335pt;}
.y5e{bottom:959.993333pt;}
.y1{bottom:986.551999pt;}
.y31{bottom:988.734669pt;}
.h10{height:19.998666pt;}
.h16{height:23.312500pt;}
.hc{height:27.866666pt;}
.h15{height:34.968750pt;}
.hd{height:36.703125pt;}
.h11{height:37.066666pt;}
.h6{height:38.494792pt;}
.h12{height:38.854167pt;}
.he{height:39.463999pt;}
.h13{height:40.520833pt;}
.h14{height:40.734375pt;}
.h3{height:40.781250pt;}
.h9{height:42.739583pt;}
.h5{height:44.437500pt;}
.h8{height:46.593750pt;}
.hb{height:46.625000pt;}
.h4{height:48.625000pt;}
.h7{height:53.262665pt;}
.h2{height:64.833333pt;}
.ha{height:149.855998pt;}
.hf{height:580.000000pt;}
.h1{height:824.666667pt;}
.h0{height:1056.000000pt;}
.w4{width:1.066667pt;}
.w2{width:128.066671pt;}
.w3{width:471.600016pt;}
.w1{width:699.333333pt;}
.w0{width:816.000000pt;}
.x8{left:0.533333pt;}
.x5{left:8.200000pt;}
.x0{left:58.000000pt;}
.x2{left:60.466665pt;}
.x3{left:84.466665pt;}
.x4{left:108.466665pt;}
.x6{left:185.533335pt;}
.x1{left:300.466665pt;}
.x9{left:361.814667pt;}
.xa{left:368.486664pt;}
.x7{left:755.000033pt;}
}
